[user]
	name = Millioner
	email = millioner.bbb@gmail.com
	signingkey = EB4F8A77CE257EB9

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	di = diff
	plog = log --pretty=format:'%h %Cblue%cn %Creset%cr %Cgreen%s'

[color]
	diff = auto
	branch = auto
	status = auto
	interactive = auto

[push]
	default = matching
[commit]
	gpgsign = true
